.custom-textarea {
    border: none !important; /* Xóa border thông thường */
    box-shadow: none !important; /* Xóa border khi nhấn vào */
    outline: none !important; /* Xóa outline khi nhấn vào */
  }